.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.user-message {
    background-color: #d1ecf1;
    color: #0c5460;
    padding: 8px 12px;
    margin: 10px 0;
    border-radius: 10px;
    text-align: right;
}

.bot-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 8px 12px;
    margin: 10px 0;
    border-radius: 10px;
    text-align: left;
}
